NET   "ddr3_dm[0]"                             LOC = "M13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[1]"                             LOC = "J13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[2]"                             LOC = "G14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "M11"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "H14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "L16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "K13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "H13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "H15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "J15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "E14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "F15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "F16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "E15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "M12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "G12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "F12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "E13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "F14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "N14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "M14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "N13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "L12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "L14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "N15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "K15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "K14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "M16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "J12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "G16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "N16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "K12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "H16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[0]"                             LOC = "M13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[1]"                             LOC = "J13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[2]"                             LOC = "G14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[3]"                             LOC = "A14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "M11"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "H14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "L16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "K13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "H13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "H15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "J15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "E14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "F15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "F16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "E15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "M12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "G12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "F12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "E13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "F14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[24]"                            LOC = "D15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[25]"                            LOC = "D16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[26]"                            LOC = "B16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[27]"                            LOC = "C16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[28]"                            LOC = "E12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[29]"                            LOC = "C13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "N14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[30]"                            LOC = "B14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[31]"                            LOC = "D13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "M14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "N13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "L12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "L14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "N15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "K15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "K14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "M16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "J12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "G16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[3]"                          LOC = "C14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "N16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "K12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "H16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[3]"                          LOC = "C15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[0]"                             LOC = "M13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[1]"                             LOC = "J13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[2]"                             LOC = "G14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[3]"                             LOC = "A14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[5]"                             LOC = "D26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[6]"                             LOC = "A31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[7]"                             LOC = "F31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "M11"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "H14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "L16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "K13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "H13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "H15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "J15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "E14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "F15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "F16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "E15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "M12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "G12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "F12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "E13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "F14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[24]"                            LOC = "D15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[25]"                            LOC = "D16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[26]"                            LOC = "B16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[27]"                            LOC = "C16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[28]"                            LOC = "E12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[29]"                            LOC = "C13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "N14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[30]"                            LOC = "B14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[31]"                            LOC = "D13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "M14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[40]"                            LOC = "D25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[41]"                            LOC = "C25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[44]"                            LOC = "D22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[45]"                            LOC = "D23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[48]"                            LOC = "A29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[49]"                            LOC = "A30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "N13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[50]"                            LOC = "A32"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[51]"                            LOC = "D28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[52]"                            LOC = "C28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[53]"                            LOC = "C29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[54]"                            LOC = "D27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[55]"                            LOC = "C31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[56]"                            LOC = "D30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[57]"                            LOC = "E30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[58]"                            LOC = "C30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[59]"                            LOC = "F30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "L12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[60]"                            LOC = "F27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[61]"                            LOC = "F26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[62]"                            LOC = "F29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[63]"                            LOC = "E29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "L14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "N15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "K15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "K14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "M16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "J12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "G16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[3]"                          LOC = "C14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[6]"                          LOC = "B29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[7]"                          LOC = "E28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "N16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "K12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "H16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[3]"                          LOC = "C15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[6]"                          LOC = "B28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[7]"                          LOC = "E27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[0]"                           LOC = "G17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[10]"                          LOC = "E20"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[12]"                          LOC = "K19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[14]"                          LOC = "F17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[15]"                          LOC = "K17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[1]"                           LOC = "J20"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[2]"                           LOC = "H18"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[3]"                           LOC = "D21"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[4]"                           LOC = "D18"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[5]"                           LOC = "C21"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[6]"                           LOC = "J17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[7]"                           LOC = "E17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[0]"                             LOC = "F20"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[1]"                             LOC = "D17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_n[0]"                           LOC = "F19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_p[0]"                           LOC = "G19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[0]"                             LOC = "M13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[1]"                             LOC = "J13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[2]"                             LOC = "G14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[3]"                             LOC = "A14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[4]"                             LOC = "B23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[5]"                             LOC = "D26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[6]"                             LOC = "A31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[7]"                             LOC = "F31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "M11"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "H14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "L16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "K13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "H13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "H15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "J15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "E14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "F15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "F16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "E15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "M12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "G12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "F12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "E13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "F14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[24]"                            LOC = "D15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[25]"                            LOC = "D16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[26]"                            LOC = "B16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[27]"                            LOC = "C16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[28]"                            LOC = "E12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[29]"                            LOC = "C13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "N14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[30]"                            LOC = "B14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[31]"                            LOC = "D13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[32]"                            LOC = "C24"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[33]"                            LOC = "A25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[34]"                            LOC = "B26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[35]"                            LOC = "B27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[36]"                            LOC = "B22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[37]"                            LOC = "A22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[38]"                            LOC = "C23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[39]"                            LOC = "A24"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "M14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[40]"                            LOC = "D25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[41]"                            LOC = "C25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[42]"                            LOC = "E24"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[43]"                            LOC = "E23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[44]"                            LOC = "D22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[45]"                            LOC = "D23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[46]"                            LOC = "E22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[47]"                            LOC = "F22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[48]"                            LOC = "A29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[49]"                            LOC = "A30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "N13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[50]"                            LOC = "A32"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[51]"                            LOC = "D28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[52]"                            LOC = "C28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[53]"                            LOC = "C29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[54]"                            LOC = "D27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[55]"                            LOC = "C31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[56]"                            LOC = "D30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[57]"                            LOC = "E30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[58]"                            LOC = "C30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[59]"                            LOC = "F30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "L12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[60]"                            LOC = "F27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[61]"                            LOC = "F26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[62]"                            LOC = "F29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[63]"                            LOC = "E29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "L14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "N15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "K15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "K14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "M16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "J12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "G16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[3]"                          LOC = "C14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[4]"                          LOC = "A27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[5]"                          LOC = "E25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[6]"                          LOC = "B29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[7]"                          LOC = "E28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "N16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "K12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "H16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[3]"                          LOC = "C15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[4]"                          LOC = "A26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[5]"                          LOC = "F25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[6]"                          LOC = "B28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[7]"                          LOC = "E27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_odt[0]"                            LOC = "J18"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_we_n"                              LOC = "H20"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[0]"                           LOC = "G17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[10]"                          LOC = "E20"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[11]"                          LOC = "A17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[12]"                          LOC = "K19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[13]"                          LOC = "C20"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[14]"                          LOC = "F17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[15]"                          LOC = "K17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[1]"                           LOC = "J20"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[2]"                           LOC = "H18"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[3]"                           LOC = "D21"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[4]"                           LOC = "D18"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[5]"                           LOC = "C21"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[6]"                           LOC = "J17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[7]"                           LOC = "E17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[8]"                           LOC = "B21"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[9]"                           LOC = "A19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[0]"                             LOC = "F20"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[1]"                             LOC = "D17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[2]"                             LOC = "B19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cas_n"                             LOC = "D20"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_n[0]"                           LOC = "F19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_p[0]"                           LOC = "G19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cke[0]"                            LOC = "M17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cs_n[0]"                           LOC = "C19"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[0]"                             LOC = "M13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[1]"                             LOC = "J13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[2]"                             LOC = "G14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[3]"                             LOC = "A14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[4]"                             LOC = "B23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[5]"                             LOC = "D26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[6]"                             LOC = "A31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[7]"                             LOC = "F31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "M11"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "H14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "L16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "K13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "H13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "H15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "J15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "E14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "F15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "F16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "E15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "M12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "G12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "F12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "E13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "F14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[24]"                            LOC = "D15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[25]"                            LOC = "D16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[26]"                            LOC = "B16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[27]"                            LOC = "C16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[28]"                            LOC = "E12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[29]"                            LOC = "C13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "N14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[30]"                            LOC = "B14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[31]"                            LOC = "D13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[32]"                            LOC = "C24"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[33]"                            LOC = "A25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[34]"                            LOC = "B26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[35]"                            LOC = "B27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[36]"                            LOC = "B22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[37]"                            LOC = "A22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[38]"                            LOC = "C23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[39]"                            LOC = "A24"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "M14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[40]"                            LOC = "D25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[41]"                            LOC = "C25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[42]"                            LOC = "E24"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[43]"                            LOC = "E23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[44]"                            LOC = "D22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[45]"                            LOC = "D23"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[46]"                            LOC = "E22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[47]"                            LOC = "F22"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[48]"                            LOC = "A29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[49]"                            LOC = "A30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "N13"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[50]"                            LOC = "A32"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[51]"                            LOC = "D28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[52]"                            LOC = "C28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[53]"                            LOC = "C29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[54]"                            LOC = "D27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[55]"                            LOC = "C31"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[56]"                            LOC = "D30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[57]"                            LOC = "E30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[58]"                            LOC = "C30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[59]"                            LOC = "F30"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "L12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[60]"                            LOC = "F27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[61]"                            LOC = "F26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[62]"                            LOC = "F29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[63]"                            LOC = "E29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "L14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "N15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "K15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "K14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "M16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "J12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "G16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[3]"                          LOC = "C14"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[4]"                          LOC = "A27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[5]"                          LOC = "E25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[6]"                          LOC = "B29"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[7]"                          LOC = "E28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "N16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "K12"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "H16"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[3]"                          LOC = "C15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[4]"                          LOC = "A26"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[5]"                          LOC = "F25"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[6]"                          LOC = "B28"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[7]"                          LOC = "E27"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_odt[0]"                            LOC = "J18"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ras_n"                             LOC = "B17"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_reset_n"                           LOC = "A15"   |    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_we_n"                              LOC = "H20"   |    |     VCCAUX_IO = NORMAL      ;
